{% extends 'for_import/base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-4">
    <h1>Statuses</h1>
    <a href="{% url 'create_status' %}"><button class="btn btn-info">Add status</button></a>
    {% if statuses %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Created</th>
            </tr>
        </thead>
        {% for status in statuses %}
        <tr>
            <td>{{status.id}}</td>
            <td>{{status.name}}</td>
            <td>{{status.created_at}}</td>
            <td>
                <a href="{% url 'update_status' status.id %}">Edit</a>
                <a href="{% url 'delete_status' status.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1>No statuses</h1>
    {% endif %}
</div>
{% endblock %}