{% extends 'for_import/base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-4">
    <h1>Users</h1>
    {% if users %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Full name</th>
                <th>Created</th>
                <th>Operation</th>
            </tr>
        </thead>
        {% for person in users %}
        <tr>
            <td>{{person.id}}</td>
            <td>{{person.username}}</td>
            <td>{{person.first_name}} {{person.last_name}}</td>
            <td>{{person.date_joined}}</td>
            <td>
                <a href="{% url 'update_user' person.id %}">Edit</a>
                <a href="{% url 'delete_user' person.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1>No users</h1>
    {% endif %}
</div>
{% endblock %}