{% extends 'for_import/base.html' %}
{% load i18n %}
{% block content %}
{% if form_errors %}
{{ form_errors }}
{% endif %}

<form action="{% url 'update_user' user.id %}" method="post">{% csrf_token %}
    <div class="container">
        <div class="row mb-4 mt-5">
            <h2 class="p-0">{% translate "User Update" %}</h2>
        </div>
        <div class="row mb-3">
            <label for="id_first_name" class="form-label p-0">{% translate "First Name" %}</label>
            <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control" id="id_first_name" placeholder='{% translate "First Name" %}'>
            <div class="valid-feedback">
                {% translate "Your new name is correct." %}
            </div>
        </div>

        <div class="row mb-3">
            <label for="id_last_name" class="form-label p-0">{% translate "Last Name" %}</label>
            <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control" id="id_last_name" placeholder='{% translate "Last Name" %}'>
            <div class="valid-feedback">
                {% translate "Your new last name is correct." %}
            </div>
        </div>

        <div class="row mb-3">
            <label for="id_username" class="form-label p-0">{% translate "Username" %}</label>
            <input type="text" class="form-control" name="username" value="{{ user.username }}" id="id_username" maxlength="150" placeholder='{% translate "Username" %}'>
            <div id="usernameHelpBlock" class="form-text p-0">
                {% translate "Required field. Length must be shorter than 150 symbols. Only literals, numbers and symbols @/./+/-/_." %}
            </div>
            <div class="valid-feedback">
                {% translate "Your new username is correct." %}
            </div>
            <div class="invalid-feedback">
                {% translate "Please enter a valid new username. It can only contain letters, numbers, and @/./+/-/_." %}
            </div>
        </div>

        <div class="row mb-3">
            <label for="id_password" class="form-label p-0">{% translate "Update password" %}</label>
            <input type="password" class="form-control" name="password" id="id_password" minlength="3" placeholder='{% translate "Password" %}'>
            <div id="passwordHelpBlock" class="form-text p-0">
                <ul class="m-0">
                  <li>{% translate "Your new password must contains 3 symbols minimum." %}</li>
                </ul>
            </div>
            <div class="valid-feedback">
                {% translate "Your new password is correct." %}
            </div>
            <div class="invalid-feedback">
                {% translate "The entered new password is too short. It must contain at least 3 characters." %}
            </div>
        </div>

        <div class="row mb-4">
            <label for="id_password_confirm" class="form-label p-0">{% translate "Update password confirm" %}</label>
            <input type="password" class="form-control" name="confirm_password" id="id_password_confirm" placeholder='{% translate "Password Confirm" %}'>
            <div id="passwordcomfirmHelpBlock" class="form-text p-0">
                {% translate "For confirm your new password, please, type new password again." %}
            </div>
            <div class="valid-feedback">
                {% translate "Confirmation success." %}
            </div>
            <div class="invalid-feedback">
                {% translate "The entered passwords do not match." %}
            </div>
          </div>
          
          <div class="row mb-3">
              <button type="submit" class="btn btn-outline-primary w-25">{% translate "Update" %}</button>
          </div>
    </div>
</form>

{% endblock %}