{% extends 'for_import/base.html' %}
{% load i18n %}
{% block content %}
    <div class="container text-center mt-5">
        <h3>{% translate "Are you really to want to delete task with" %} id {{ task.id }}?</h3>
        <div class="row mt-3">
            <div class="col text-end">
                <form action="{% url 'delete_task' task.id %}" method="post"> {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-primary btn-lg w-25">{% translate "YES" %}</button>
                </form>
            </div>
            <div class="col text-start">
                <a href="{% url 'tasks_list'  %}">
                    <button class="btn btn-info btn-primary btn-lg w-25">{% translate "NO" %}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
